@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {

  --color-bg:           #181818;
  --color-bg-secondary: #1A0820;
  --color-bg-elevated:  #2A0F35;
  --color-border:       rgba(232, 121, 249, 0.12);

  --color-text-primary:   #FDF4FF;
  --color-text-secondary: #7C3F8A;
  --color-text-muted:     #3B1040;
  --color-text-highlight: #F0ABFC;

  --color-accent:      #E879F9;
  --color-accent-deep: #86198F;
  --color-accent-soft: #F0ABFC;

  --font-sans: "Inter", sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: #08040A;
  color: #FDF4FF;
}

.card {
  background-color: #1A0820;
  border: 1px solid rgba(232, 121, 249, 0.12);
  border-radius: 0.75rem;
}


.gradient-btn {
  background: linear-gradient(135deg, #86198F, #C026D3);
  color: #FDF4FF;
}

.glow {
  box-shadow: 0 0 28px rgba(232, 121, 249, 0.20);
}